.text-container {
    margin: 1rem auto;

    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#editor-label{
    display: block;

    border: 1px solid black;
    box-shadow: px 1px 2px 2px;
    margin-top: 2rem;
    padding: 10px;

    font-size: 17px;
    font-weight: 900;

    
    background-color:rgba(74,163,163,255) ;
}

#editor{
    
    display: block;
    max-width:500px;
    min-width: 500px;
    min-height: 150px;
    background-color: rgba(192,216,216,255);

    padding: 5px;

}
